
* {
    margin: 0px;
    padding: 0px;
}
p{
    color: #acb5bc;
    font-size: 16px;
}
.header > .back {
    width: 100%;
    height: auto;
}

.header > .img {
    width: 60px;
    position: absolute;
    left: calc(50% - 30px);
    top: 40px;
}

.login_but {
    position: absolute;
    width: calc(100% - 40px);
    bottom: 50px;
    margin: 20px;
    background-color: #1e94d4;
    height: 40px;
    color: white;
    font-size: 18px;
    border-radius: 3px;
    border-style: none;
}
.login_but:disabled{
    background-color:#DDDDDD;
}
.reg_but{
    position: absolute;
    width: calc(100% - 40px);
    bottom: 0px;
    margin: 20px;
    background-color: #ffffff;
    height: 40px;
    color: white;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid #1e94d4;
    color: #1e94d4;
}


input {
    font-size: 16px;
    color: #4a4a4a;
    border-style: none;
    border-bottom: 0.5px solid #e4e4e4;
    border-radius: 0;
    width: calc(100% - 40px);
    height: 35px;
    padding: 9.5px 0px;
}

.img_div{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 17.5px;
    float: left;
    text-align: center;

}
.input  img {
    max-width: 20px;
    max-height: 20px;
    vertical-align: middle;
}

::-webkit-input-placeholder{
    color: #acb5bc;
}
.input ,.user_set {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    height: 55px;
}
.selected_img , .remark_lab ,.forget_pwd{
    height: 20px;
    margin-top: 17.5px;
}
.selected_img{
    width: 20px;
    float: left;

}
.remark_lab{
    float: left;
    line-height: 20px;
    margin-left: 10px;

}
.forget_pwd{
    float: right;
    line-height: 20px;
}