* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(251,228,184);
    background: url('../src/backimage.png') no-repeat fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rule{
    width: 100%;
    margin-top: 78px;

}
.rule img{
    width: 50px;
    float: right;
}
.container{
    /*position: absolute;*/
    height:477px;
    width: 300px;
    background: url('../src/envelope.png') no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.content{
    margin-top: 165px;
    display: flex;
    flex-direction: column;
}
.inputBox{
    background-color: white;
    height: 39px;
    margin:6px 8px;
    border-radius: 3px;
    overflow: hidden;
}
input{
    height:inherit;
    width: 100%;
    border: none;
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
}
#codeDiv{
    display: flex;
    justify-content: space-between;
    padding-right: -8px;
}
#codeBut{
    width: 100px;
    background-color: rgb(255,160,64);
    height: 100%;
    border: none;
    color: white;
    font-size: 14px;

}
#codeInput{
    width: calc(100% - 150px);
    flex-grow:1
}
.inputBox>input{


}
.reg{
    border: none;
    background-color: transparent;
    margin-top: 10px;
}
.reg > *{
    width: 235px;
    height: auto;

}
.info{
    color: white;
    font-size: 10px;
    width: 100%;
    text-align: center;
}
.bottoms{
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.bottoms>a{
    height: 24px;
    border-radius: 12px;
    font-size: 12px;
    border: 1px solid;
    padding: 0px 10px;
    line-height: 24px;
    color: white;
    text-decoration:none;

}